/* ------ State.css ----- */
/* State rules are ways to describe how our modules or layouts will look when in a particular state. */
/* Is it hidden or expanded? Is it active or inactive? */
/* They are about describing how a module or layout looks on screens that are smaller or bigger. */
/* They are also about describing how a module might look in different views like the home page or the inside page. */

/* ---- Settings for mobile-version ---- */
@media (max-width: 767px) {
    .header {
        flex-direction: column;
    }

    .nav ul {
        flex-direction: column;
        padding-bottom: 1em;
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }
}