// .old-fashioned {
//     font-family: 'Times New Roman', Times, serif;
//     line-height: 1.4;
//     font-size: 1.5rem;
// }

// .modern {
//     font-family: 'Roboto', sans-serif;
//     letter-spacing: 2px;
//     font-size: 2rem;
//     line-height: 1.2;
//     text-transform: uppercase;
// }

// .worst-ever {
//     font-size: 2rem;
//     line-height: 0.7;
//     background-color: blue;
//     color: aquamarine;
// }

// .old-fashioned {
//     @include old-fashioned();
// }

// .modern {
//     @include modern();
// }

// .worst-ever {
//     @include worst-ever();
// }

// @mixin modern {
//     font-family: 'Roboto', sans-serif;
//     letter-spacing: 2px;
//     font-size: 2rem;
//     line-height: 1.2;
//     text-transform: uppercase;
// }

// @mixin old-fashioned {
//     font-family: 'Times New Roman', Times, serif;
//     line-height: 1.4;
//     font-size: 1.5rem;
// }

// @mixin worst-ever {
//     font-size: 2rem;
//     line-height: 0.7;
//     background-color: blue;
//     color: aquamarine;
// }

.grid {
    display: grid;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    grid-template-columns: 200px auto;
    grid-template-rows: 200px 600px 200px;
}

.header-test {
    grid-area: 1 / 1 / 3 / 1;
}

.main-test {
    grid-column: 2 / 2;
    grid-row: 2 / 3;
}

.side-bar-test {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.footer-test {
    grid-column: 1 / 3;
    grid-row: 3 / 3;
}
