$font-color: #17252a;
$font-alternative-color: #feffff;
$accent-color: #3aafa9;
$accent-alternative-color: #2b7a78;
$background-color: #feffff;
$background-alternative-color: #3d5a80;
$background-color-footer: #17252a;

$font-oswald: 'Oswald', sans-serif;
$font-opensans: 'Open Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-nunito: 'Nunito', sans-serif;

$base-line-height: 1.4;
$base-font-size: 1em;
$magic-number: $base-line-height * $base-font-size;
