{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <div class="main" role="main">
        {% if current_page.id != "technology/index" %}
            <nav class="sidebar">
                <ul class="sidebar-menu">
                    {% for page in pages("technology") %}
                        <li{% if page.id==current_page.id %} class="active" {% endif %}>
                            <a href="{{ page.url }}">{{ page.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
        <div class="landingpage {{current_page.id != "technology/index" ? "tech" : "" }}">
            {{ content }}
        </div>
    </div>
    {% include 'incl/footer.twig' %}
</body>

</html>