{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <div class="main" role="main">
        <article class="{{current_page.id == "analysis/index" ? "landingpage-analysis" : "analysis"}}">
            {{ content }}
        </article>
    </div>
    {% include 'incl/footer.twig' %}
</body>

</html>