body {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
}

html,
body {
    height: 100%;
}

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

.main {
    flex: 1 0 auto;
    margin: 0 auto;
    max-width: 67rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.header,
.footer {
    flex: 0 0 auto;
}
