/* ---- Settings for mobile-version navbar ---- */
@media (max-width: 767px) {
    .header {
        flex-direction: column;
    }

    .title {
        flex-grow: 2;
    }

    .nav {
        margin-bottom: 2em;

        ul {
            flex-direction: column;
            padding: 0;
        }

        li {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        a {
            display: block;
            padding: 0.5em 0;
        }
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }

    // .fa {
    //     color: $font-color-header;
    // }
}

/* ---- Settings for mobile-version main ---- */
@media (max-width: 767px) {
    .main {
        padding: 2rem;
        
        :first-child,
        .align-center {
            text-align: center;
        }

        .wrap-me {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            
            .me {
                height: auto;
                width: 20rem;
                margin: 2rem 0;
            }
        }
    }
}

/* ---- Settings for mobile-version technologies ---- */
@media (max-width: 767px) {
    .landingpage {
        min-width: 20rem;

        h1,
        .tech-box {
            grid-column: span 1;
        }
    }
}
